.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveLeftRight {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translate(-3px)
  }
  
  100% {
    transform: translateX(0)
  }
}
.box{
  width: 40%;
  /* max-width: 400PX; */
  background:linear-gradient(103.75deg, #33B1EE -13.9%, #7366ff);
  display: flex;
  border-radius: 15px;
}
#whatbutton:hover{
background-color: white;
color:#33B1EE;

}
#whatbutton{
  color: white;
  background-color: transparent;
}
#fring{
  width: 250px;
  height: 250px;
  background:linear-gradient(103.75deg, #00a9fe -13.9%, #fefefe);
  border-radius: 100%;
}
#fring:hover{
  background:linear-gradient(103.75deg, #00324c -13.9%, #8a8af9);
}
#sring{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  width: 200px;
  height: 200px;
  background:white;
  border-radius: 100%;
  position: absolute;
}
#Scrbutton{
  width: 100%;
  display: flex;
  justify-content: end;
  position: sticky;
  bottom: 0;
  
}
#chart{
  position: relative;
   z-index: 1;
}
#Navbar{
  z-index: 5;
}